.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.microcenter {
  font-family: "Montserrat", serif;
  font-size: 190px;
  width: 50%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
